:root {
	background-color:rgba(50,162,251,1.00);
	background-image: url("seawater.jpeg");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

h1 {
	font-size: 10rem;
	color: aliceblue;
	text-shadow: 2px 2px 4px #000000;
	margin-bottom: 5rem;
}

h2 {
	font-size: 40.2rem;
	margin-bottom: 4rem;
}

h3 {
	font-size: .5rem;
	color: white;
}
.container {
	
	width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	margin: 0 auto;
	padding: 2rem;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

.btn {
	font-size: 2.4rem;
	padding: 2rem 0;
	width: 30rem;
	text-align: center;
	margin-bottom: 1rem;
	text-decoration: none;
	color: rgba(28, 26, 26);
	background: linear-gradient(90deg, rgb(18,92, 255) 0%, RGB(0,102,255)100%);
	border-radius: 5px;
}

.btn:hover{
	cursor:pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgb(184, 242, 253);
	transition: transform 150ms;
	color: blanchedalmond;
	transition-duration: 1.0s;
	transform: scale(1.03);}
		
btn:focus {
	background-color: limegreen;
}

	.btn[disabled]:hover {
		cursor: not-allowed;
		box-shadow: none;
		transform: none;
	}
	#letsstart-btn {
		background: rgba(32,196,180,1.00);
	}
#letsstart-btn:hover {
		box-shadow: 0.04rem 1.4rem 0 rgb(255,255,0,0,5)
	}

